doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Update Custom Object Form
    .form-wrapper
      form(action='/update-cobj', method='post')
        div
          label(for='pet_name') Pet Name:
          input(type='text', id='pet_name', name='pet_name')
        div
          label(for='pet_type') Pet Type:
          input(type='text', id='pet_type', name='pet_type')
        div
          label(for='pet_age') Pet Age:
          input(type='number', id='pet_age', name='pet_age')
        div
          input(type='submit', value='Submit')
    a(href='/') Return to the homepage